<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula 05</title>
</head>

<body>
    <div id="container">
        <h1>{{ title }}</h1>
        <h2>Formulário</h2>
        <form action="">
            <label for="name">Nome:</label> <br>
            <input type="text" id="name" name="name" v-model="form.name">

            <br><br>
            
            <label for="telphone">Telefone:</label> <br>
            <input type="text" id="telphone" name="telphone" v-model="form.telphone">
            
            <br><br>
            
            <label for="news">Deseja receber nossas novidades?</label> <br>
            <input type="radio" id="news-yes" value="Sim" v-model="form.news"> Sim <br>
            <input type="radio" id="news-no" value="Não" v-model="form.news"> Não <br>

            <br><br>
            
            <label for="">Interesses:</label> <br>
            <input type="checkbox" id="interests" value="Futebol" v-model="form.interests"> Futebol <br>
            <input type="checkbox" id="interests" value="Fórmula 1" v-model="form.interests"> Fórmula 1 <br>
            <input type="checkbox" id="interests" value="Corrida" v-model="form.interests"> Corrida <br>

            <br><br>
            
            <label for="survey">Como nos conheceu?</label> <br>
            <select name="survey" id="survey"  v-model="form.survey">
                <option value="" disabled selected>Selecione uma opção</option>
                <option value="Google">Google</option>
                <option value="TV">TV</option>
                <option value="Revista">Revista</option>
            </select>

            <br><br>

            <button type="submit">Enviar</button>
        </form>

        <hr>

        <h2>Resultados</h2>
        <b>Nome: </b> {{ form.name }} <br>
        <b>Telefone: </b> {{ form.telphone }} <br>
        <b>Novidades: </b> {{ form.news }} <br>
        <b>Interesses: </b> {{ form.interests }} <br>
        <b>Conheceu: </b> {{ form.survey }} <br>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        const container = new Vue({
            el: "#container",
            data: {
                title: "Aula 05 - Vue.js",
                form: {
                    name: "",
                    telphone: "",
                    news: "",
                    interests: [],
                    survey: "",
                }
            }
        });
    </script>
</body>

</html>