<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula 19</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.3"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
	<div id="app">
		<div class="container">
            <h1>{{ title }}</h1>

			<br> <hr> <br>

			<div id="cards">
				<center>
					<h2>Cards</h2>

					<component :is="movie">
						<h5 class="card-title"  slot="title">{{ movie }}</h5>
						<h6 class="card-subtitle mb-2 text-muted" slot="subtitle">Card subtitle</h6>
						<p class="card-text" slot="content">Some quick example text to build on the card title and make up the bulk of the card's content, title and subtitle with slots.</p>
					</component>
				</center>
			</div>

			<br> <hr> <br>
			
			<button class="btn btn-success" @click.stop.prevent="getUsers()">BUSCAR USUÁRIOS</button>

			<br><br>
			
			<div class="alert alert-danger" v-if="response.status != '' ">
				{{ response.message }} (<b>Status: </b>{{ response.status }})
			</div>

			<div class="alert alert-primary" v-if="loader.users"> Buscando usuários... </div>

			<div id="users" v-if="users.length > 0">
				<h2>Users</h2>
				<!-- O "ref" é para identificação dentro do vue sobre a tag html dessa referencia e seus filhos, parents etc -->
				<ul class="list-group" ref="users">
					<!-- O "key" serve, além de identificar, pra atualizar rapidamente ao alterar algum elemento -->
					<li class="list-group-item" v-for="(user, index) in users" :key="user.name"><span @click.stop.prevent="remove(index)" class="badge badge-danger">Remove</span> {{ user.name }} </li>
				</ul>
			</div>

		</div>
	</div>

	<template id="transformers">
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<slot name="title"></slot>
				<slot name="subtitle"></slot>
				<slot name="content"></slot>
			</div>
		  </div>
	</template>
	
	<script>	
		const mixin = { 
			methods: {
				getUsers() {
					this.loader.users = true;
					this.response.status = '';

					const url = 'http://jsonplaceholder.typicode.com/users';
					this.$http.get(url).then(function(response){
						this.users = response.body;
					}, function(error){
						this.response.status = error.status;
					}).
					finally(function(){
						this.loader.users = false;
					});
				}
			}
		}

		Vue.component('transformers', {
			template: '#transformers',
		});

		const app = new Vue({
			el: '#app',

			mixins: [mixin],

			data: {
				title: 'Aula 19 - Vue.js',
				movie: 'transformers',
				users: [],
				loader: {
					users: false,
				},
				response: {
					message: 'Erro ao buscar os usuários',
					status: ''
				}
			},

			methods: {
				remove(index){
					const name = this.users[index].name;
					this.users.splice(index, 1);
					alert(`${name} foi removido da lista`);
				}
			}
		});

	</script>
</body>

</html>